<div class="m-buffer">
  <button id="point" data-geometry-type="Point" class="g-cartografia-gps3" title="{{translations.tooltip_point}}"></button>
  <button id="lineString" data-geometry-type="LineString" class="g-cartografia-lineas" title="{{translations.tooltip_line}}"></button>
  <button id="polygon" data-geometry-type="Polygon" class="g-cartografia-poligono" title="{{translations.tooltip_polygon}}"></button>
  <button id="remove" class="g-cartografia-papelera" title="{{translations.tooltip_remove}}"></button>
</div>